notebook
librosa
pandas
seaborn
numpy
tqdm
matplotlib
scikit-learn
tensorflow
django
resampy
python-magic-bin
gunicorn
python-dotenv
whitenoise
django-theme-material-kit==1.0.19


# psycopg2-binary
# mysqlclient
